 <!--================Breadcrumb Area =================-->
 <section class="breadcrumb_area br_image " style="margin-top: 7rem !important;">
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Testimonios </h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Inicio</a></li>
                <li class="active">estimonios</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->


<!--================About Area =================-->
<section class="about_area section_gap" style="padding-top: 1px!important;">
    <div class="container">
        <div class="section_title text-center">
        </div>
        <div class="row"  >
            <ngb-carousel *ngIf="images" style="margin: auto!important; outline: none;">
                <ng-template  ngbSlide>
                    <div class="row">
                    <div class="col-md-6 d_flex" style="margin: auto;">
                        <div class="about_content flex" style="text-align: center;">
                            <h3 class="title_color">Testimonio 1</h3>
                            <p >
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.                      
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="" [src]="images[0]" style="width: 570px;height: 300px; object-fit: cover!important;" alt="Random first slide">
                    </div>
                    </div>
                </ng-template>
                <ng-template  ngbSlide>
                    <div class="row">
                    <div class="col-md-6 d_flex" style="margin: auto;">
                        <div class="about_content flex" style="text-align: center;">
                            <h3 class="title_color">Testimonio 1</h3>
                            <p >
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.                      
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="" [src]="images[1]" style="width: 570px;height: 300px; object-fit: cover!important;" alt="Random first slide">
                    </div>
                    </div>
                </ng-template>
                <ng-template  ngbSlide>
                    <div class="row">
                    <div class="col-md-6 d_flex" style="margin: auto;">
                        <div class="about_content flex" style="text-align: center;">
                            <h3 class="title_color">Testimonio 1</h3>
                            <p >
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.                      
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="" [src]="images[2]" style="width: 570px;height: 300px; object-fit: cover!important;" alt="Random first slide">
                    </div>
                    </div>
                </ng-template>
            </ngb-carousel>  
           
        </div>
    </div>
</section>
<!--================About Area =================-->

<!--================About Area =================-->
