<body style="background-color: #666666;">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" [formGroup]="registerForm" (ngSubmit)="register()">
                    <span class="login100-form-title p-b-43">
						Registrarse
					</span>

                    <div class="wrap-input50 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input50" type="text" placeholder="Nombre" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                        <span class="focus-input50"></span>
                        <span class="label-input50"></span>
                    </div>
                    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                        <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
                    </div>

                    <div class="wrap-input50 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input50" type="text" placeholder="Apellido" formControlName="apellido" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }">
                        <span class="focus-input50"></span>
                        <span class="label-input50"></span>
                    </div>
                    <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                        <div *ngIf="f.apellido.errors.required">El apellido es requerido</div>
                    </div>

                    <div class="wrap-input50 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input50" type="text" placeholder="Correo" formControlName="correo" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }">
                        <span class="focus-input50"></span>
                        <span class="label-input50"></span>
                    </div>
                    <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                        <div *ngIf="f.correo.errors.required">Email es requerido</div>
                        <div *ngIf="f.correo.errors.email">Email debe de ser una direccion valida</div>
                    </div>

                    <div class="wrap-input50 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input50" type="text" placeholder="Usuario" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        <span class="focus-input50"></span>
                        <span class="label-input50"></span>
                    </div>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">El usuario es requerido</div>
                    </div>


                    <div class="wrap-input50 validate-input" data-validate="Password is required">
                        <input class="input50" type="password" placeholder="Contraseña" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <span class="focus-input50"></span>
                        <span class="label-input50"></span>
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
                    </div>


                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
							Registrarme
						</button>
                    </div>
                    <div class="text-center p-t-46 p-b-20">
                        <span class="txt2">
							Regresar
						</span>
                    </div>
                    <div class="login100-form-social flex-c-m">
                        <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                    </div>


                    

                </form>


                <div class="login100-more" style="background-image: url('../../../assets/image/familia.jpg');">
                </div>
            </div>
        </div>
    </div>