
  <!--================Header Area =================-->
  <header class="header_area"></header>
  <!--================Header Area =================-->
  <!--================Breadcrumb Area =================-->
 <section class="breadcrumb_area br_image " style="margin-top: 7rem !important;">
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Consejerias </h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Inicio</a></li>
                <li class="active">Consejerias</li>
                
            </ol>
        </div>
    </div>
</section>
<ng-template #loading>
  <div class="text-center">
    <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
    Loading events...
  </div>
</ng-template>
<!--================Breadcrumb Area =================-->
  <div class="row text-center " style="margin-top: 2rem !important; width: 90%;">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"

          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Retroceder
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Hoy
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Avanzar
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale| titlecase }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Mes
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Semana
        </div>
      </div>
    </div>
  </div>
  <br />

  <div [ngSwitch]="view" *ngIf="events$ | async; else loading; let events">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [locale]="locale"
      
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)" 
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [locale]="locale"
      [dayStartHour]="8"
      [dayEndHour]="21"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <br />

    <div *ngIf="showMessage" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Enviado!</strong> Se agendado su consejeria correctamente.
      <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
  </div>
  
  <br /><br /><br />

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Consejeria</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Fecha Inicio:
        <pre>{{ modalData?.event.start }}</pre>
        Fecha Fin:
        <pre>{{ modalData?.event.end }}</pre>
      </div>
      <div>
        Tema de la consejeria:
        <pre>{{ modalData?.event.title }}</pre>
        <!-- <pre>{{ modalData?.event.id_ }}</pre> -->

      </div>
    </div>
    <div class="modal-footer">
      <button *ngIf="!agendar" type="button" class="btn btn-outline-secondary" (click)="agendar_consejeria()">
        Confirmar
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        Cerrar
      </button>
    </div>
    
  </ng-template>

